html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Century Gothic';
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

    body > header > nav > div > div > ul{
        display: flex;
        justify-content: center;
        align-items: center;

    }

.nav-link {
    margin: 0 2em;
    font-family: 'Century Gothic';
    font-weight: bolder;
    font-size: 1.2em;
    color: #1f1f1f
}
    .nav-link:hover {
        color: #7863FF;
    }

footer {
    margin-top: auto;
    background-image: radial-gradient(at 49.78371093464871% 30.26035734015251%, hsla(248.07692307692312, 100%, 69.41176470588235%, 1) 0%, hsla(248.07692307692312, 100%, 69.41176470588235%, 0) 100%), radial-gradient(at 78.23288769632042% 99.51149501740773%, hsla(263.859649122807, 72.7659574468085%, 46.07843137254902%, 1) 0%, hsla(263.859649122807, 72.7659574468085%, 46.07843137254902%, 0) 100%), radial-gradient(at 4.089319494275423% 95.61549925973345%, hsla(296.1111111111111, 46.15384615384615%, 54.11764705882353%, 1) 0%, hsla(296.1111111111111, 46.15384615384615%, 54.11764705882353%, 0) 100%), radial-gradient(at 32.00101191376359% 50.10725409536254%, hsla(247.05882352941174, 100%, 50%, 1) 0%, hsla(247.05882352941174, 100%, 50%, 0) 100%), radial-gradient(at 76.06036118929586% 4.5796423918718965%, hsla(248.07692307692312, 100%, 69.41176470588235%, 1) 0%, hsla(248.07692307692312, 100%, 69.41176470588235%, 0) 100%), radial-gradient(at 24.03207440537325% 92.67239077540405%, hsla(263.859649122807, 72.7659574468085%, 46.07843137254902%, 1) 0%, hsla(263.859649122807, 72.7659574468085%, 46.07843137254902%, 0) 100%), radial-gradient(at 37.89152992889235% 44.36269493486553%, hsla(296.1111111111111, 46.15384615384615%, 54.11764705882353%, 1) 0%, hsla(296.1111111111111, 46.15384615384615%, 54.11764705882353%, 0) 100%), radial-gradient(at 49.823407285344004% 30.969100018661734%, hsla(247.05882352941174, 100%, 50%, 1) 0%, hsla(247.05882352941174, 100%, 50%, 0) 100%), radial-gradient(at 46.47727401212833% 65.3778197179167%, hsla(248.07692307692312, 100%, 69.41176470588235%, 1) 0%, hsla(248.07692307692312, 100%, 69.41176470588235%, 0) 100%), radial-gradient(at 22.720562676600984% 0.8007448584377297%, hsla(263.859649122807, 72.7659574468085%, 46.07843137254902%, 1) 0%, hsla(263.859649122807, 72.7659574468085%, 46.07843137254902%, 0) 100%), radial-gradient(at 92.53095439851774% 90.9257093464175%, hsla(296.1111111111111, 46.15384615384615%, 54.11764705882353%, 1) 0%, hsla(296.1111111111111, 46.15384615384615%, 54.11764705882353%, 0) 100%);
}

#presentation {
    background-image: radial-gradient(at 49.78371093464871% 30.26035734015251%, hsla(248.07692307692312, 100%, 69.41176470588235%, 1) 0%, hsla(248.07692307692312, 100%, 69.41176470588235%, 0) 100%), radial-gradient(at 78.23288769632042% 99.51149501740773%, hsla(263.859649122807, 72.7659574468085%, 46.07843137254902%, 1) 0%, hsla(263.859649122807, 72.7659574468085%, 46.07843137254902%, 0) 100%), radial-gradient(at 4.089319494275423% 95.61549925973345%, hsla(296.1111111111111, 46.15384615384615%, 54.11764705882353%, 1) 0%, hsla(296.1111111111111, 46.15384615384615%, 54.11764705882353%, 0) 100%), radial-gradient(at 32.00101191376359% 50.10725409536254%, hsla(247.05882352941174, 100%, 50%, 1) 0%, hsla(247.05882352941174, 100%, 50%, 0) 100%), radial-gradient(at 76.06036118929586% 4.5796423918718965%, hsla(248.07692307692312, 100%, 69.41176470588235%, 1) 0%, hsla(248.07692307692312, 100%, 69.41176470588235%, 0) 100%), radial-gradient(at 24.03207440537325% 92.67239077540405%, hsla(263.859649122807, 72.7659574468085%, 46.07843137254902%, 1) 0%, hsla(263.859649122807, 72.7659574468085%, 46.07843137254902%, 0) 100%), radial-gradient(at 37.89152992889235% 44.36269493486553%, hsla(296.1111111111111, 46.15384615384615%, 54.11764705882353%, 1) 0%, hsla(296.1111111111111, 46.15384615384615%, 54.11764705882353%, 0) 100%), radial-gradient(at 49.823407285344004% 30.969100018661734%, hsla(247.05882352941174, 100%, 50%, 1) 0%, hsla(247.05882352941174, 100%, 50%, 0) 100%), radial-gradient(at 46.47727401212833% 65.3778197179167%, hsla(248.07692307692312, 100%, 69.41176470588235%, 1) 0%, hsla(248.07692307692312, 100%, 69.41176470588235%, 0) 100%), radial-gradient(at 22.720562676600984% 0.8007448584377297%, hsla(263.859649122807, 72.7659574468085%, 46.07843137254902%, 1) 0%, hsla(263.859649122807, 72.7659574468085%, 46.07843137254902%, 0) 100%), radial-gradient(at 92.53095439851774% 90.9257093464175%, hsla(296.1111111111111, 46.15384615384615%, 54.11764705882353%, 1) 0%, hsla(296.1111111111111, 46.15384615384615%, 54.11764705882353%, 0) 100%);
    height: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    padding-bottom: 16em
}

#skills{
    margin-top: -10rem
}

#contact {
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}